/* Scss Document */

/*
h1 {font-family: 'Roboto Slab', serif; font-size:54px; color:white; font-weight:bold; letter-spacing:3px; text-transform:uppercase;}
body {background:#555353}
a {color:teal;}
ul {padding:0; margin:0;}
li {display:inline; position:relative;}
ul ul {position:absolute; display:none;}
li:hover ul {display:block;}
label {@extend %visuallyhidden;}
header nav {background-color:black; width:100%; align-content:center;}
#wrapper1 {width:85%; margin-left:auto; margin-right:auto;}
footer {background-color:white; width:100%; padding:20px;}
footer nav {color:black; font-family:arial; font-weight:bold; font-size:16px; text-decoration:none;}
.button {@include button;}
*/

@import "partials/_mixins.scss";
@import "partials/_extends.scss";
@import "partials/_banners.scss";
@import "partials/_base.scss";
@import "partials/_navigation.scss";
@import "partials/_focusarea.scss";
