/* Scss Document */

.bannertext {
	position:absolute;
	width:70%;
	margin:auto;
}

.herobanner {
	
}

.herobanner img {
	position:relative;
	float:left;
	max-width:1200px;
	width:100%;
}

.herobanner h1 {
	font-family: 'Roboto Slab', serif;
	color:#fff;
}

.herobanner p {
	font-family: Arial, Helvetica, sans-serif;
	color:#fff;
}

.button {
	font-family:Arial, Helvetica, sans-serif;
	color:#C015B5;
	
}

.webstyle img {
	position:relative;
	float:left;
	max-width:1200px;
	width:100%;
}

.webstyle h3 {
	font-family: 'Roboto Slab', serif;
	color:#29D452;
}

.webstyle p {
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	width:30%;
}

#herobannerimg {
	background-image:url(../../img/herobanner-1200.jpg)
}

@media only screen and (max-width: 320px) {
	#herobannerimg {
		background-image:url(../../img/herobanner-320.jpg);
	}
}