/* Scss Document */
/*Hide from screenreaders and browsers*/
%hidden {
	display: none !important;
	visibility:hidden;
}
/*Hide only visually*/
%visuallyhidden {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}
/*Extends .visuallyhidden. Focusable when navigated via keyboard*/
%visuallyhidden.focusable:active
%visuallyhidden.focusable:fovus {
	clip:auto;
	height:auto;
	margin:0;
	overflow:visible;
	position:static;
	width:auto;
}