/* Scss Document */

.focusarea {
	display:flex;
	display: -webkit-flex;
	flex-direction:row;
	justify-content:space-around;
	align-content:center;
	
}

.focusarea .one {
	order:1;
	align-self:auto;
	width:25%;
}

.focusarea .two {
	order:2;
	align-self:auto;
	width:25%;
}

.focusarea .three {
	order:3;
	align-self:auto;
	width:25%;
}

.focusarea h3 {
	color:#00FF5C;
	font-family: 'Roboto Slab', serif;
	text-transform:uppercase;
}



/* .focus-area {
	@include respond-to("small") {
		display: -webkit-flex;
		display: flex;
		//flex-direction: column; //default is row, other options are row-reverse, column-reverse
		//flex-wrap: wrap; //default is nowrap. other option: wrap-reverse;
		
		div:first-child {
			//-webkit-flex:2;
			//flex:2;
		}
		
		div:last-child {
			//-webkit-order:-1;
			//order:-1;
		}
	} */