/* Scss Document */

$break-small: 400px;
$break-medium: 1024px;

@mixin respond-to($media){
	@if $media == "small" {
		@media only screen and (min-width: $break-small){@content;}
	}
	
	@else if $media == "medium" {
		@media only screen and (min-width: $break-medium){@content;}
	}
}

@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	border-radius:$radius;
	background-clip:padding-box;
}

@mixin opacity($opacity){
	opacity:$opacity;
	$opacity-ie:$opacity*100;
	filter:alpha(opacity=$opacity-ie);
}



@mixins button ($button) {
	background-color:#16a085;
	text-transform:uppercase;
	color:white;
	border-radius:10px;
}
